# python package
python-package/lal/__pycache__/
python-package/.idea/

# Byte-compiled / optimized / DLL files
python-package/__pycache__/
python-package/*.py[cod]
python-package/*$py.class

# C extensions
python-package/*.so

# Distribution / packaging
python-package/.Python
python-package/build/
python-package/develop-eggs/
python-package/dist/
python-package/downloads/
python-package/eggs/
python-package/.eggs/
python-package/lib/
python-package/lib64/
python-package/parts/
python-package/sdist/
python-package/var/
python-package/wheels/
python-package/*.egg-info/
python-package/.installed.cfg
python-package/*.egg
python-package/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
python-package/pip-log.txt
python-package/pip-delete-this-directory.txt

# Unit test / coverage reports
python-package/htmlcov/
python-package/.tox/
python-package/.coverage
python-package/.coverage.*
python-package/.cache
python-package/nosetests.xml
python-package/coverage.xml
python-package/*.cover
python-package/.hypothesis/
python-package/.pytest_cache/

# Translations
python-package/*.mo
python-package/*.pot

# Django stuff:
python-package/*.log
python-package/local_settings.py
python-package/db.sqlite3

# Flask stuff:
python-package/instance/
python-package/.webassets-cache

# Scrapy stuff:
python-package/.scrapy

# Sphinx documentation
python-package/docs/_build/

# PyBuilder
python-package/target/

# Jupyter Notebook
python-package/.ipynb_checkpoints

# pyenv
python-package/.python-version

# celery beat schedule file
python-package/celerybeat-schedule

# SageMath parsed files
python-package/*.sage.py

# Environments
python-package/.env
python-package/.venv
python-package/env/
python-package/venv/
python-package/ENV/
python-package/env.bak/
python-package/venv.bak/

# Spyder project settings
python-package/.spyderproject
python-package/.spyproject

# Rope project settings
python-package/.ropeproject

# mkdocs documentation
python-package/site

# mypy
python-package/.mypy_cache/

# scala IDE files
scala/.idea/
